{% load zoom %}
/* This is for styles that apply to all sites. The body starts hidden and then
 * this style shows it. */
html body {
  font-family: 'Roboto', sans-serif; font-weight: 300; font-size: {% font_size %};
  padding: 0px; margin: 0px {% zoom 10 %}px {% zoom 20 %}px {% zoom 10 %}px;
  display: block; }

h1 {
  font-weight: 300; margin: {% zoom 60 %}px 0px 0px 0px;
  font-size: {% font_size 3 %}; border-top: {% zoom 15 %}px solid #558; }
h2 {
  font-weight: 500; margin: {% zoom 60 %}px 0px 0px 0px; color: #555;
  {% font_size 2 %}; }
h3 {
  color: #999; margin: {% zoom 60 %}px 0px 0px 0px; {% font_size 1.5 %}; }

table {
  border-collapse: collapse; border-left: {% zoom 1 %}px solid #999;
  border-top: {% zoom 1 %}px solid #999;
  box-shadow: {% zoom 4 %}px {% zoom 4 %}px {% zoom 2 %}px grey;
  font-size: inherit; }
td { font-weight: 300;  }
th { font-weight: 500; color: #555; }
td, th { border-right: {% zoom 1 %}px solid #999;
  border-bottom: {% zoom 1 %}px solid #999; padding: {% zoom 10 %}px; }
th, .row2 { background-color: #eee; }

.raised-rectangle {
  border: {% zoom 1 %}px solid #999; padding: {% zoom 10 %}px;
  box-shadow: {% zoom 4 %}px {% zoom 4 %}px {% zoom 2 %}px grey;
  display: inline-block; background-color: #eee;
}

table textarea {
    overflow: auto; width: {% zoom 290 %}px; height: {% zoom 71 %}px;
    max-height: {% zoom 77 %}px; min-height: {% zoom 31 %}px;
    font-size: {% font_size %}; font-family: 'Roboto', sans-serif;
    font-weight: 400; }
table textarea, table input {
  border: {% zoom 1 %}px solid #999; border-radius: {% zoom 3 %}px; padding: {% zoom 5 %}px;
  box-shadow: {% zoom 2 %}px {% zoom 2 %}px {% zoom 1 %}px grey; }

select, input { font-size: {% font_size .90 %}; }

pre {
  margin: {% zoom 10 %}px 0px 0px 0px; background-color: #eee; border: {% zoom 1 %}px solid #999;
  padding: {% zoom 10 %}px; font-size: {% font_size %}; box-shadow: {% zoom 4 %}px {% zoom 4 %}px {% zoom 2 %}px grey; }

input[type="number"] { width: {% zoom 100 %}px; }
input[type="text"] { width: {% zoom 250 %}px; }

form { margin: 0px; padding: 0px; }

.problem { color: #f00; }
.feedback { color: #f00; }
.start-hidden { display: none; }
/* If you change the background color of a <input type="date"> Firefox
 * re-renders the control with a different font size and rectangular corners.
 * */
.editing { background-color: #ffb; }
.green, .green textarea { background-color: #dfd; }

.margin-top, p.margin-top { margin: {% zoom 60 %}px 0px 0px 0px; }
.margin-top-half, p { margin: {% zoom 25 %}px 0px 0px 0px; }
.margin-top-third { margin: {% zoom 15 %}px 0px 0px 0px; }
.pad-half { padding: {% zoom 20 %}px; }
.margin-left { margin: 0px 0px 0px {% zoom 25 %}px; }

.max-width, p, ul { max-width: {% fit_to_screen 540 %}px; }
.width-135 { width: {% zoom 135 %}px; }
.border-5 { border: {% zoom 5 %}px solid #000; }
.bold-grey-text { color: #999; font-weight: bold; }

/* Buttons */
{% include "css/button.css" %}

/* Tooltips */
.tooltip {
  position: relative; display: inline-block; border-bottom: {% zoom 1 %}px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden; background-color: #555; color: #fff;
  text-align: center; border-radius: {% zoom 6 %}px; padding: {% zoom 10 %}px;
  position: absolute; z-index: 1; bottom: 125%;
  left: 10%; opacity: 0; transition: opacity 0.3s; width: {% zoom 200 %}px;
  font-size: {% font_size %}; font-weight: 300;
}

.tooltip .tooltiptext::after {
  content: ""; position: absolute; top: 100%; left: 10%;
  margin-left: -{% zoom 5 %}px; border-width: {% zoom 5 %}px; border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext, .tooltip.hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nav { display: flex; align-items: baseline; }
.nav .current {
    font-size: {% font_size 1.5 %}; margin-top: {% zoom 10 %}px; font-weight: 500; }
.primary_nav div { margin: 0px {% zoom 20 %}px 0px 0px; }
